.mobileFoam{
    position: relative;

    .MuiInputBase-root{
        background-color: $white1;
        border-radius: 1.875rem !important;
        position: relative;
    }

    button{
        position: absolute;
        right: 1rem;
       bottom: 1.2rem;
        margin: auto;
        background-color: transparent;
        border: none;

        .iconWrapper{
            color: $grey1;
            height: 1rem;
            width: 1rem;
        }
    }

}

.downArrow{
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;

    .iconWrapper{
        color: $white1;
        background-color: transparent;
        border: none;
    }
}