.navigationThree{
    position: relative;
    z-index: 2;
   

    .navbar {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        .navbar-nav{
            width: 100%;
            justify-content: flex-end;
            gap: 1.5rem;

            .nav-link{
                @include fontNeueHaasDisplay;
                color: $white1;
                transition: 0.5s ease-in-out;

                &:hover{
                    color: $white1;
                }
            }
        }

        input[type="search" i] {
            @include fontNeueHaasDisplayMedium;
            font-size: #{$font14}rem ;
            color: $blue1;
            margin-left: 3.25rem;
            width: 18.5rem;
            box-shadow: rgba(8, 12, 86, 0.1) 0px 6px 15px 0px;
            padding: 0.75rem 2rem;
            border-radius: 2rem;
            border: none;
            color: $blue1;
            background-image: url(../../assets/images/search.png);
            background-position: 12px 15px;
            background-repeat: no-repeat;
        
            &:focus-visible{
              outline: none !important;
            }
          }

    }

    .nav-button-two{
     color: $white1 !important;
     border-color: $white1 !important;
    }
}