.navigation{
    position: relative;
    z-index: 2;
   

    .navbar {
        padding-top: 1.25rem;

        @include responsiveToUp(lg) {
            flex-direction: row-reverse;
        }

        @include responsiveToUp(md) {
            width: 65%;
        }


        .navbar-toggler, .navbar-toggler:focus{
            border: none;
            box-shadow: none;
        }

        .navbar-toggler-icon{
            filter: invert(100%);
          }

        .navbar-nav{
            width: 100%;
            justify-content: flex-end;
            gap: 1.5rem;

            .nav-link{
                
                @include fontNeueHaasDisplay;
                color: $white1;
                transition: 0.5s ease-in-out;

                &:hover{
                    color: $primaryColor;
                }
            }
        }

    }
}