.navigationTwo{
    position: relative;
    z-index: 2;

    .fixed-top{
      transition: background-color 0.5s ease;
      position: static !important;
      }

    
    &.scrolled {
        position: fixed;
        background-color: $white1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
   

    .navbar {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        .navbar-toggler,
        .navbar-toggler:focus {
          border: none;
          box-shadow: none;
        }

        .navbar-nav{
            width: 100%;
            justify-content: flex-end;
            gap: 1.5rem;

            .nav-link{
                
                @include fontNeueHaasDisplay;
                color: $secondaryColor;
                transition: 0.5s ease-in-out;

                &:hover{
                    color: $primaryColor;
                }
            }
        }

        input[type="search" i] {
            @include fontNeueHaasDisplayMedium;
            font-size: #{$font14}rem ;
            color: $blue1;
            margin-left: 3.25rem;
            width: 18.5rem;
            box-shadow: rgba(8, 12, 86, 0.1) 0px 6px 15px 0px;
            padding: 0.75rem 2rem;
            border-radius: 2rem;
            border: none;
            color: $blue1;
            background-image: url(../../assets/images/search.png);
            background-position: 12px 15px;
            background-repeat: no-repeat;
        
            &:focus-visible{
              outline: none !important;
            }
          }

    }
}

.offcanvas-body{
    @include fontNeueHaasDisplay;

    .navbar-nav {
        @include responsiveToUp(lg) {
          gap: 0.5rem;
          
        }

        .nav-link{
            @include responsiveToUp(lg){
                border-bottom: 1px solid #dfdfe2;
            }

            @include responsiveToUp(lg){

                &:hover{
                    color: $primaryColor;
                }
            }

        }

      }
    
      .nav-button-two a{

        @include responsiveToUp(lg){
            @include fontNeueHaasDisplay;
            color: black;
            border: none;
            display: block;
            border-bottom: 1px solid #dfdfe2;
            padding: 0 !important;
            border-radius: 0 !important;
           

            &:hover{
                background-color: transparent;
                color: $primaryColor;
            }
        }
        
      }

}

.offcanvas-title {
 
  .imageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 50px;
  }


}
