.service-cards-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  .service-card {
    position: relative;
    border: none;
    color: $white1;

    &::after{
      z-index: 1;
      content: "";
      position: absolute;
      border-radius: 2rem;
      background: linear-gradient(90deg, rgba(90,151,255,0.09007352941176472) 0%, rgba(0,0,0,1) 100%);
      opacity: 44%;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &::before{
      z-index: 1;
      content: "";
      position: absolute;
      border-radius: 2rem;
      background: linear-gradient(260deg, rgba(90,151,255,0.09007352941176472) 0%, rgba(0,0,0,1) 100%);
      opacity: 44%;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }


    .imageWrapper{
      position: relative;
      height: 208px;
      border-radius: 2rem;

      @include responsiveToUp(lg){
        height: 260px;
      }

      img{
        border-radius: 2rem;
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        object-fit: cover;
      }
    }

    .service-card-content {
      position: absolute;
      z-index: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1.75rem 2rem;

      

      @include responsiveToUp(lg){
        grid-template-columns: 1fr;
        padding: 1.75rem 1rem;
        text-align: center;
        gap: 1rem;
      }

      .service-card-header {
        h5 {
          font-size: #{$font40}rem;
        }
      }

      .service-card-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        text-align: right;

        @include responsiveToUp(lg){
          align-items: center;
          text-align: center;
        }

        .label-info {
          display: flex;
          flex-direction: column;

          .service-card-price {
            font-size: #{$font32}rem;
          }
        }

        .service-card-button {
          font-size: #{$font14}rem;
          color: $white1;
          background-color: $primaryColor;
          border: 2px solid $primaryColor;
          min-width: 15rem;
          border-radius: 1.875rem;
          padding: 0.75rem 1.5rem !important;
          transition: 0.5s ease-in-out;

          &:hover {
            border: 2px solid $white1;
            background-color: transparent;
          }
        }
      }
    }
  }
}
