.contactSection{

    .content{
        padding: 5rem 6.5rem 7.5rem 6.5rem;

        p{
            @include fontNeueHaasDisplay;
            font-size: #{$font14}rem ; 
            margin-bottom: 1rem !important;
            max-width: 90%;
            
        }

        .imageWrapper{
            border-radius: 0.75rem;

            overflow: hidden;

            img{
                border-radius: 0.75rem;
                transition: 0.5s ease-in-out;
                
                &:hover{
                    transform: scale(1.1);
                }
            }

        }

        .boxOne{
            color: $white1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.5rem;
            padding-bottom: 7.5rem;
            
            .titleWrapper{
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
            }

         
        }

        .boxSet{
            background-color: $white1;
            border-radius: 1.25rem;
            padding-left: 6.75rem;
            padding-right: 6.75rem;
            color: $secondaryColor;

            .boxTwo{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2.5rem;
                padding-top: 5.8rem;
                padding-bottom: 1.68rem;

                .titleWrapper{
                    margin-top: 1.25rem;
                    margin-bottom: 1.1rem;
                }
            }

            .boxThree{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 6.875rem;
                padding-top: 3.75rem;
                padding-bottom: 3.75rem;

                .titleWrapper{
                    margin-top: 1.25rem;
                    margin-bottom: 1.1rem;
                }

                ul{
                    li{
                        font-size: #{$font14}rem ; 
                        
                        span{
                            font-weight: 500;
                            color: $blue1 !important;
                        }
                    }
                }
            }
        }


    }


}