.listingSection{
    padding-top: 1rem;
    padding-bottom: 9rem;

    @include responsiveToUp(lg){
        padding-bottom: 4rem;
    }
    
    .MaintitleWrapper{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .content{
        display: grid;
        grid-template-columns: 8fr 4fr;
        gap: 4rem;
 

        @include responsiveToUp(lg){
            grid-template-columns: 7fr 5fr;
            gap: 2rem;
        }

        @include responsiveToUp(md){
            display: flex;
            flex-direction: column-reverse;
        }

        .left{
           
            .listing-cards-container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2.5rem;

                @include responsiveToUp(lg){
                    grid-template-columns: 1fr;
                }
            }
        }


    }


}