.section-b {
  background-image: url(../../assets/images/grey_background.webp);
  background-position: bottom;
  background-size: 100% 100%;
  padding-top: 6.875rem;
  padding-bottom: 9.06rem;


  @include responsiveToUp(lg) {
    padding-top: 2.5rem;
    padding-bottom: 4.375rem;
    padding-left: 0;
    padding-right: 0;
  }

  @include responsiveToUp(md) {
    padding-bottom: 1.375rem;

  }

  .swiper-slide-prev,  .swiper-slide-next{

    @include responsiveToUp(lg){
      transform: scale(0.8);
    }
  }

  .swiper-slide-active {
    position: relative;
    top: 3rem;

    @include responsiveToUp(lg) {
      top: 0;
      transform: scaleX(1.1);
    }
  }

  .content {
    display: grid;
    grid-template-columns: 3fr 9fr;

    @include responsiveToUp(lg) {
      text-align: center;
      grid-template-columns: 1fr;
    }

    .heading {

      @include responsiveToUp(lg) {
        padding-bottom: 4.6rem;
      }

      .titleWrapper {
        margin-bottom: 1.5rem;

        h2 {
          line-height: 3rem;
          color: $black2;

          br{
            @include responsiveToUp(lg) {
              display: none;
            }
          }

      
        }
      }
    }
  }
}
