.mainContent {
  display: grid;
  grid-template-columns: 9fr 3fr;

  @include responsiveToUp(lg) {
    display: contents;
  }

  .left {
    padding-right: 2rem;

    @include responsiveToUp(lg){
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }

  .right {
    padding-left: 2rem;

    @include responsiveToUp(lg){
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    } 
  }
}
