@mixin fontCampaign{
    font-family: "Campaign", serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin fontNeueHaasDisplayBold{
    font-family: "NeueHaasDisplayBold", serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin fontNeueHaasDisplay{
    font-family: "NeueHaasDisplay", serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin fontNeueHaasDisplayMedium{
    font-family: "NeueHaasDisplayMedium", serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}




